videos/
Dropbox (Personal)/**
.dropbox.cache/**
.venv*/
venv*/
__pycache__/
*.pyc
# secrets
.env
token.json

# caches/données locales fréquentes
*.pkl
*.db
__pycache__/
.streamlit/


vecteurs.pkl

vecteurs.pkl
